<div id="container">

  <h1><a href="//webrtc.github.io/samples/" title="WebRTC samples homepage">WebRTC samples</a>
    <span>Transmit text</span></h1>

  <div id="buttons">
    <button id="startButton" (click)="start()">Start</button>
    <button id="sendButton" disabled>Send</button>
    <button id="closeButton" disabled>Stop</button>
  </div>

  <form [formGroup]="textareas">
    <div id="sendReceive">
      <div id="send">
        <h2>Send</h2>
        <textarea formControlName="dataChannelSend" #dataChannelSend></textarea>
      </div>
      <div id="receive">
        <h2>Receive</h2>
        <textarea formControlName="dataChannelReceive"></textarea>
      </div>
    </div>
  </form>

  <p>View the console to see logging.</p>

  <p>The <code>RTCPeerConnection</code> objects <code>localConnection</code> and <code>remoteConnection</code> are in
    global scope, so you can inspect them in the console as well.</p>

  <p>For more information about RTCDataChannel, see <a href="http://www.html5rocks.com/en/tutorials/webrtc/basics/#toc-rtcdatachannel" title="RTCDataChannel section of HTML5 Rocks article about WebRTC">Getting Started With WebRTC</a>.</p>

  <a href="https://github.com/webrtc/samples/tree/gh-pages/src/content/datachannel/basic" title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>
</div>
